<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <!-- BOOTSTRAP 5 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="/css/login.css";>

    <title>Capacitaciones Contables | Registro</title>
</head>
<body class="bg-light">
    <div class="animate">
        <div class="row content justify-content-center">
            <div class="col-md-4 login">
                <div class="card py-3 px-5">
                    <div class="card-body text-center">
                        <div class="container">
                            <form action="/adduser" method="post">
                                <div id="header">
                                    <img src="./img/Logo Instagram.png" alt="logo" width="230px" class="img-fluid">
                                    <h5 class="w-75 mx-auto mt-3">Registro de usuarios</h5>
                                </div>
                                <div class="form-floating mt-3">
                                    <input type="text" class="form-control" name="nombre" id="nombre" placeholder="Nombre" required>
                                    <label for="nombre">Nombre</label>
                                </div>
                                <div class="form-floating mt-3">
                                    <input type="text" class="form-control" name="apellido" id="apellido" placeholder="Apellido" required>
                                    <label for="apellido">Apellido</label>
                                </div>
                                <div class="form-floating mt-3">
                                    <input type="text" class="form-control" name="user" id="user" placeholder="Ingrese un usuario" required>
                                    <label for="user">Ingrese un usuario</label>
                                </div>
                                <div class="form-floating mt-3">
                                    <input type="password" name="pass" id="pass" class="form-control" placeholder="Contraseña" required>
                                    <label for="pass">Contraseña</label>
                                </div>
                                <div class="text-start mt-3">
                                    <p class="mb-0">Modulos:</p>
                                    <div class="form-check-inline">
                                        <input class="form-check-input" type="checkbox" name="modulos" value="inicial" id="inicial">
                                        <label class="form-check-label" for="inicial">
                                            Inicial
                                        </label>
                                    </div>
                                    <div class="form-check-inline">
                                        <input class="form-check-input" type="checkbox" name="modulos" value="avanzado" id="avanzado">
                                        <label class="form-check-label" for="avanzado">
                                            Avanzado
                                        </label>
                                    </div>
                                    <div class="form-check-inline">
                                        <input class="form-check-input" type="checkbox" name="modulos" value="contabilidad" id="contabilidad">
                                        <label class="form-check-label" for="contabilidad">
                                            Contabilidad
                                        </label>
                                    </div>
                                    <div class="form-check-inline">
                                        <input class="form-check-input" type="checkbox" name="modulos" value="sueldos" id="sueldos">
                                        <label class="form-check-label" for="sueldos">
                                            Sueldos
                                        </label>
                                    </div>
                                </div>
                                <div class="mt-3 text-start" id="usergroups">
                                    <p class="mb-0">Grupos:</p>

                                </div>
                                <div class="d-flex justify-content-center mt-4">
                                    <input type="submit" value="Crear usuario" class="btn btn-outline-dark btn-lg">
                                </div>
                            </form>

                            <% if(signupMessage.length > 0){%>
                                <p class="text-danger mt-3"><%= signupMessage %></p>
                            <% }%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    

    <!-- SCRIPTS BOOTSTRAP -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <!-- SCRIPTS FONTAWESOME -->
    <script src="https://kit.fontawesome.com/433de9bf63.js" crossorigin="anonymous"></script>
    <!-- SCRIPT PROPIO -->
    <script>
        document.addEventListener("DOMContentLoaded", async ()=>{
            let grupos = await fetch("/getgroups").then(res => res.json()).catch(err => console.log(err));
            console.log(grupos);

            const usergroups = document.getElementById("usergroups");

            for (let i = 0; i < grupos.length; i++) {
                let formdiv = document.createElement("div");
                formdiv.classList.add("form-check");
                formdiv.innerHTML = `
                <input class="form-check-input" type="checkbox" name="grupos" value="${grupos[i].grupo}">
                <label class="form-check-label" for="${grupos[i].grupo}">
                    ${grupos[i].grupo}
                </label>`;

                usergroups.appendChild(formdiv);
            }
        });
    </script>
</body>
</html>