body {
  overflow-x: hidden;
}

div .content {
  border-top: 155px solid #8c7ae6;
}

.card {
  box-shadow: 0px 15px 40px rgb(117 117 170 / 8%);
}

.login {
  margin: 0 auto;
  position: relative;
  top: -61px;
}

@media (max-width: 768px) {
  .card {
    box-shadow: 0px 5px 10px rgb(117 117 170 / 20%);
  }
}

.animate {
  animation-duration: 0.38s;
  animation-fill-mode: both;
  animation-name: slideInUp;
}
@keyframes slideInUp {
  from {
    transform: translate3d(0, 10px, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
